{{ define "main" }}
    <div id="content">
    <aside id="sidebar">
        <div id="avatar">
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            <img class="flower" src="{{ .Params.icon_path }}">
            {{ end }}
        </div>
        
        <div id="bio">
        {{ with .Site.GetPage "section" "/sidebar/bio.md" }}
            {{ .Content | safeHTML }}
        {{ end }}
        </div>
        
        <div class="small-box">
            {{ with .Site.GetPage "section" "/sidebar/basic_info.md" }}
                {{ .Content | safeHTML }}
            {{ end }}
            </ul>
        </div>
        
        <nav>
            <ul>
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            {{ range .Params.links }}
                <li><a href="{{ .link }}">{{ .name }}</a></li>
            {{ end }}
            {{ end }}
            </ul>
        </nav>
    </aside>
    <main>
        <article id="top" class="clearfix">
            {{ with .Site.GetPage "section" "/welcome_header/_index.md" }}
            <section>
            <div class="img-right">
                <img src="{{ .Params.image }}">
            </div>
            <div>
            <h1>{{ .Params.title }}</h1>
            {{ range .Params.intro }}
                <p>{{ . }}</p>
            {{ end }}
            </div>
            </section>
            <section>
            <h4>{{ .Params.list.name }}</h4>
                <ul>
                {{ range .Params.list.items }}
                    <li>{{ . }}</li>
                {{ end }}
                </ul>
            </section>
            {{ end }}
        </article>
    {{ $limit := .Site.Params.read_more.length_limit }}
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ range (.Paginate $pages (or .Site.Params.posts_per_page 5)).Pages }}
        <article>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            {{ $tags := .Params.tags }}
            tags:
            {{ range $index, $tag := .Params.tags }}
            <a href="/tags/{{ $tag }}">{{ $tag }}</a>{{ if ne $index (sub ($tags | len) 1) }},{{ end }}
            {{ end }}
            <div class="post-header">
                @{{ .Params.author }} <span class="timestamp">{{ .Date.Format "02/01/2006" }}</span>
            </div>
            <p>{{ .Summary }}</p>
            {{ with .Params.title_images }}
            <div class="photosetx2">
                {{ range first 2 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
            <div class="post-content readmore">
                <div id="text-content">{{ ( .ContentWithoutSummary | safeHTML ) | truncate $limit }}</div>
                <div id="full-content" style="display: none;">{{ .ContentWithoutSummary | safeHTML }}</div>
                {{ if gt (len (.ContentWithoutSummary | safeHTML)) $limit }}
        <summary id="read-more-btn" onclick="toggleReadMore()" style="display: inline;">{{ .Site.Params.read_more.text.more }}</summary>
                {{ end }}
            </div>
            {{ with .Params.ending_images }}
            <div class="photosetx3">
                {{ range first 3 . }}
                <a href="{{ . }}" target="_blank"><img src="{{ . }}"></a>
                {{ end }}
            </div>
            {{ end }}
        </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
    <script>
    function toggleReadMore() {
        var fullContent = document.getElementById("full-content");
        var btnText = document.getElementById("read-more-btn");
        var textContent = document.getElementById("text-content");

        if (fullContent.style.display === "none") {
            textContent.style.display = "none";
            fullContent.style.display = "inline";
            btnText.innerHTML = {{ .Site.Params.read_more.text.less }};
        } else {
            textContent.style.display = "inline";
            fullContent.style.display = "none";
            btnText.innerHTML = {{ .Site.Params.read_more.text.more }};
        }
    }
    </script>
    </main>
{{ end }}
